* {
    box-sizing: border-box;
    }
    html,
    body {
    background: #f5f5f5;
    font-size: 18px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    }

.container-fluid1 { 
    &__position {
        margin-top: 35px;
        background-color: white; 
        border-color: gray; 
        position: fixed; 
        z-index: 1;
        padding-right: 68px;
        padding-left: 68px;
        height: 65px;
    }
}

.navbar1 {
    &__logo{ 
        width: 50px;
        height: 40px;
    }
}

.navbar2 {
    &__button{
        border-radius: 7px;
        border-color: rgb(59, 59, 246);
        border-width: 2px;
        background-color: white;
        color: rgb(59, 59, 246);
    }

    &__button:hover {
        background: rgb(59, 59, 246);         
        color: white; 
        text-decoration: underline; 
        }   
    &__notificacion {
            color: black;
            margin: 0 10px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            background-color: white;
        }
    &__notificacion:hover {
            background-color: rgba(197, 185, 246, 0.433);
            color:rgb(59, 59, 246);
        }
    &__button3 {
        border: none;
        background-color: white;
    }    
    }

.navbar3 {
    &__user-picture{ 
        border-radius: 100%;
        width: 32px;
        height: 32px;
    }
    &__user-picture:hover{
        border-color: aqua;
        border-style: solid;
        border: 4px;
    }
}
.searchbar {
    &__barrita{
        border: none;
    }
    &__bar{
        border-radius: 7px;
        border-style: solid;
        border-color: gray;
    }
    &__bar:hover{
        border-color: rgb(59, 59, 246);
        border-style: solid;
        border-radius: 7px;
    }
}
.post-card {
    &__author-picture{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .post-card__author-name, 
    .post-card__creation-date{
        margin: 0;
        font-size: 14px;
    }
    &:not(:first-of-type) {
        .post-card__preview-image {
            display: none;
        }
    }
}