
* {
    box-sizing: border-box;
    }
    html,
    body {
    background: #F5F5F5;
    font-size: 18px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    }
.container-fluid {
    margin-top: 40px;
    background-color: white;
    border-color: gray;
    position: fixed;
    z-index: 1;
    padding-right: 10px;
    padding-left: 68px;
    height: 65px;
}
.navbar1 {
    &__logo{
        width: 50px;
        height: 40px;
    }
}
.navbar2 {
    &__button{
        border-radius: 7px;
        border-color: rgb(59, 59, 246);
        border-width: 2px;
        background-color: white;
        color: rgb(59, 59, 246);
    }
    &__button:hover {
        background: rgb(59, 59, 246);
        color: white;
        text-decoration: underline;
        }
    &__notificacion {
            color: black;
            margin: 0 10px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            background-color: white;
        }
    &__notificacion:hover {
            background-color: rgba(197, 185, 246, 0.433);
            color:rgb(59, 59, 246);
        }
    &__button3 {
        border: none;
        background-color: white;
    }
    &__login {
        color: black;
        margin: 0 10px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background-color: white;
    }
&__login:hover {
        background-color: rgba(197, 185, 246, 0.433);
        color:rgb(59, 59, 246);
        text-decoration: underline;
    }
    }
.navbar3 {
    &__user-picture{
        border-radius: 100%;
        width: 32px;
        height: 32px;
    }
    &__user-picture:hover{
        border-color: aqua;
        border-style: solid;
        border: 4px;
    }
}
.searchbar {
    &__barrita{
        border: none;
    }
    &__bar{
        border-radius: 7px;
        border-style: solid;
        border-color: gray;
        background-color: white;
    }
    &__bar:hover{
        border-color: rgb(59, 59, 246);
        border-style: solid;
        border-radius: 7px;
    }
}
///aqui termina mara

.post-card {
    &__author-picture{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .post-card__author-name, 
    .post-card__creation-date{
        margin: 0;
        font-size: 14px;
    }
    &:not(:first-of-type) {
        .post-card__preview-image {
            display: none;
        }
    }
}

.footter {
    background-color: #e5e5e5;
}

.content-right {
    background-color: #f5f5f5;
}

.list-group-item {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #171717;
}

.list-group-item {
    padding: 0
}

.contenedor-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 10px; 
    
}

.icono-link {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 5px;
}

li :hover {
    border-radius: 7px;
    background: #e4e3f3;
    color: blue;
    text-decoration: underline;
}

.social-network {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom:15px;
    
}
.social-network a {
    padding: 10px;
}

.social-network :hover {
    border-radius: 7px;
    background-color: #e4e3f3;
    fill: blue;  
}

.nav-3 {
    margin-bottom: 10px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}

.encabezado-navegacion-3 {
   /*  border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 7px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    padding-top: 13px;
}

.nav-3 {
    margin: 10px
}

.nav-3 a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
      
}

.nav-3 a:hover {
    border-radius: 7px;
    background-color: #e4e3f3;
    fill: blue;
}

.tags-aside {
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 10px;
}

.tags-aside {
    max-height: 180px;
    overflow: auto;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 0px;
}

.tags-aside .tag-block {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.tags-aside :hover {
    border-radius: 7px;
    background: #e4e3f3;
    color: blue;
    text-decoration: underline;
}

.nav-info-4 {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 2%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10PX;
    margin-left: 10PX;
}

.header-info {
    font-size: 13px;
    font-weight: 300;      
}

.boton-info {
    background-color: #ffffff;
    border: none;
    margin-left: 87px;
    /* padding-left: 10px; */
    padding: 10px;
}

.boton-info img {
    padding: 0px;
}

.boton-info :hover {
    background-color: comment-body;
    border: 1px solid black;
}

p img {
    border-radius: 4px;
}

.header-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
}

.nav-image-info-4 {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-image-info-4 h3, p {
    text-align: left;
    margin-bottom: 15px;
}

.nav-image-info-4 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.nav-info-5 {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 3%;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

/* .nav-image-info-5 {
    border: 1px solid black;
    padding: 2px;
} */

.a-except {
    text-decoration: underline;
    color: blue;
}

.header-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
}

.estilo-list {
    list-style: inside;
    text-align: left;
}

.a-except-1 {
    text-decoration: underline;
    color: blue;
}

/* Cards Center */

.card-story__container {
    padding: 20px;
}

.card-story__indention {
    padding-left: 55px;
}

.card-story__title span {
    font-size: 30px;
    font-weight: 700;
}

.card-story__title a:hover {
     color: #2f3ab2;
}

.card-story__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
}

.story-tag {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 4px 10px;
    font-size: 14px;   
    font-weight: 300;
}

.story-tag:nth-child(1) {
    padding-left: 0;
}

.card-story__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.card-story__details {
    display: flex;
    font-size: 14px;
}

.multiple-reactions {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.multiple-reactions__icons-container {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.agregate-reactions {
    padding-left: 4px;
}

.comments {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
}

.save-button {
    border-style: hidden;
    padding-top: 5px;
    padding-bottom: 5px;

}

.card-story__save {
    display: flex;
}

.text-comment-content {
    margin: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.comment-content-1, .comment-content-2 {
    display: flex;
    align-items: flex-start;
    margin-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

}

.comment-content-picture {
    display: flex;
    align-items: flex-start;
}

.picture-anchor {
    display: flex;
    align-items: flex-start;
}

.comment-content-body {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
}

.comment-meta {
    width: auto;
    object-fit: contain;
}

.time-ago {
    margin-left: 4px;
}

.data-test-id {
    width: auto;
    object-fit: contain;
}

.post-card {
    &__author-picture-comment{
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }
}

.avatar-marg {
    margin-right: 10px;
}
